.close {
  display: none;
}

.container {
  width: 50rem;
  height: 25rem;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  border-radius: 1rem;
  border: 0.5rem solid var(--light-blue);

  position: absolute;
  z-index: 999;

  span {
    font-family: 'Popins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 2;
    color: var(--light-blue);
    margin-bottom: 2rem;
  }

  button {
    width: 25rem;
    height: 5rem;

    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    border-radius: 0.8rem;

    background-color: var(--light-blue);
    color: var(--dark-blue);
  }
}
